    <form action='/videos' method='post'>
      <input id="title-input" name="title" type="text" value="{{videoToCreate.title}}">
      {{#with videoToCreate.errors.title as |error|}}
        <span class="error">{{error.message}}</span>
      {{/with}}
      <textarea id="description-input" name="description">{{videoToCreate.description}}</textarea>
      <input id="videoUrl-input" name="videoUrl" value="{{videoToCreate.videoUrl}}">
      {{#with videoToCreate.errors.videoUrl as |error|}}
        <span class="url-error">{{error.message}}</span>
      {{/with}}
      <button type='submit'>Save a video</button>
    </form>
