<div class="contents-container" id="create-video-container">
    <form action='/videos' method='post'>
      <label for="title-input">Title (required)</label>
      <input id="title-input" name="title" type="text" value="{{newVideo.title}}">
      {{#with newVideo.errors.title as |error|}}
        <span class="error">{{error.message}}</span>
      {{/with}}
      <label for="description-input">Description</label>
      <textarea id="description-input" name="description">{{newVideo.description}}</textarea>
      <label id="url-label" for="videoUrl-input">URL (required)<br> Tip for YouTube: replace 'watch?/v=' with 'embed/' in the URL</label>
      <input id="videoUrl-input" name="videoUrl" value="{{newVideo.videoUrl}}">
      {{#with newVideo.errors.videoUrl as |error|}}
        <span class="error">{{error.message}}</span>
      {{/with}}
      <button type='submit' class="input-button" id="save-button">Save video</button>
      <a href = '/videos' class="input-button">Cancel</a>
    </form>
</div>
