<div class="contents-container" id="create-video-container">
  <h2>Edit video</h2>
  <form action='/videos/{{video._id}}/edit' method='post'>
    <label for="title-input">Title (required)</label>
    <input id="title-input" name="title" type="text" value="{{video.title}}">
    {{#with updatedVideo.errors.title as |error|}}
      <span class="error">{{error.message}}</span>
      {{/with}}
      <label for="description-input">Description</label>
      <textarea id="description-input" name="description" value="{{video.description}}">{{video.description}}</textarea>
      <label id="url-label" for="videoUrl-input">URL (required)<br> Tip for YouTube: replace 'watch?/v=' with 'embed/' in the URL</label>
      <input id="videoUrl-input" name="videoUrl" value="{{video.videoUrl}}">
      {{#with updatedVideo.errors.videoUrl as |error|}}
      <span class="error">{{error.message}}</span>
      {{/with}}
      <button type='submit' class="input-button">Submit changes</button>
      <a href = '/videos' class="input-button" id="cancel">Cancel</a>
    </form>
</div>
