    <div class="contents-container" id="videos-container">
      {{#each videos as |video|}}

      <div id='video-{{video._id}}' class="video-card">
        <div class="video-player">
            <iframe class="video-player" src="{{video.videoUrl}}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video-title">
          {{video.title}}
          {{video.description}}
        </div>
      </div>
      <form action='/videos/{{video._id}}' method='get'>
        <button id="go-to-video-{{video._id}}" type='submit'>Go to video page</button>
      </form>
      {{/each}}

    </div>
