  <div class="contents-container" id="videos-container">
    <h1>Video Show Page<h1>
    <div class="video-card">

      <div class="video-title">
        <p>{{video.title}}</p>
      </div>

      <div class="video-player">
          <iframe class="video-player" src="{{video.videoUrl}}" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class='video-description'>
        <p>{{video.description}}</p>
      </div>

      <form action='/videos/{{video._id}}/deletions' method="post" id="buttons">
        <a href="/videos/{{ video._id }}/edit" class="input-button" id="edit">Edit Video</a>
        <button class="input-button" type="submit" id="delete" value="delete">Delete Video</button>
        <a href="/videos" class="input-button">Home</a>
      </form>
    </div>
  </div>
