  <div class="contents-container" id="videos-container">
    <h1>Video Show Page<h1>
    <div class="video-card">

      <div class="video-title">
        <p>{{video.title}}</p>
      </div>

      <div class="video-player">
          <iframe class="video-player" src="{{video.videoUrl}}" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class='video-description'>
        <p>{{video.description}}</p>
      </div>
      <!-- <form action='/videos/{{video._id}}/edit' method="get">
        <button id='edit' type='submit'>Edit video properties</button>
      </form> -->
      <form action='/videos/{{video._id}}/deletions' method="post">
        <button type="submit" value="Delete">Delete Video</button>
        <a href="/videos/{{ video._id }}/edit" class="edit-video-button" id="edit">Edit</a>
      </form>
    </div>
  </div>
