  <div class="contents-container" id="videos-container">
    <h1>Video Show Page<h1>
    <div class="video-card">

      <div class="video-title">
        <p>{{newVideo.title}}</p>
      </div>

      <div class="video-player">
          <iframe class="video-player" src="{{newVideo.videoUrl}}" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class='video-description'>
        <p>{{newVideo.description}}</p>
      </div>
      <form action='/videos/{{newVideo._id}}/edit' method="get">
        <button id='edit' type='submit'>Edit video properties</button>
      </form>
      <form action='/videos/{{newVideo._id}}/deletions' method="post">
        <button type="submit" value="Delete">Delete Video</button>
      </form>
    </div>
  </div>
